<template>
  <div class="home">
    <div class="panel-result">
      <textarea v-show="isEditting" class="ta-result" v-model="resultText" :rows="rows"></textarea>
      <div v-show="!isEditting">
        <p class="p-result" v-for="text in resultTextList">{{text}}</p>
      </div>
    </div>
    <div class="panel-operate">
      <template v-if="isEditting">
        <button class="btn-save btn-normal" @click="save">保存</button>
      </template>
      <template v-else>
        <button class="btn-edit btn-normal" @click="edit">编辑</button>
        <button class="btn-copy btn-normal" @click="copy">复制</button>
      </template>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { socket } from '../socket'
import { copyText } from 'vue3-clipboard'
export default {
  name: 'Home',
  setup (props, ctx) {
    const isEditting = ref(0); 
    const result = ref(null);
    const resultText = ref('');
    const resultTextList = ref([]);
    const rows = computed(() => resultTextList.value.length + 5)

    socket.on('translate', res => {
      result.value = res;
      resultTextList.value = res.paragraphs_result.map(p => {
        return p.words_result_idx.map(idx => result.value.words_result[idx].words).join('')
      });
      resultText.value = resultTextList.value.join('\n');
    })

    const edit = function (e) {
      isEditting.value = true;
    }

    const save = function (e) {
      resultTextList.value = resultText.value.split('\n')
      isEditting.value = false;
    }

    const copy = function (e) {
      copyText(resultText.value, undefined, (error, event) => {
        if (error) {
          console.log('Can not copy')
        } else {
          console.log('Copied')
        }
      })
    }

    return {
      resultTextList,
      isEditting,
      resultText,
      rows,
      edit,
      save,
      copy
    }
  }
}
</script>

<style>
.panel-result {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, .5);
  padding: 8px;
  margin-bottom: 24px;
}

.ta-result {
  width: 98%;
  font-size: 16px;
  line-height: 32px;
  padding: 8px;
  resize: none;
}

.p-result {
  text-indent: 2em;
}

.btn-normal {
  width: 60px;
  height: 32px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, .6);
  overflow: hidden;
  position: relative;
}

.btn-normal:active {
  border-style: solid;
}

.btn-normal::before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .4);
}

.btn-normal:active::before {
  opacity: 1;
  width: 80px;
  height: 80px;
  transition: width .4s ease-out .05s, height .4s ease-out .05s;
}

.btn-normal + .btn-normal {
  margin-left: 16px;
}

.btn-edit {
  background-color: #11698e;
}

.btn-copy {
  background-color: #fdb827;
}
</style>
